body {
	background-image: url("../images/blackPaper.png");
	color: #4bf442;
}

a {
	color: #aaffaa;
}
a:hover {
	color: #bbb;
}

#loginContainer {
	max-width: 700px;
	background-color: #000;
	opacity: 0.5;
	margin: 60 auto;
	color: #40ec4f;
	text-align: center;
}

.loginRow input {
	margin-bottom: 5px;
	margin-top: 5px;
}
.loginRow label {
	margin-right: 5px;
}

.authorList {
	display: block;
	min-width: 400px;
	background: #111;
	clear: both;
}

.authorItem {
	display: block;
	min-width: 400px;
	font-size: 2em;
	background: #111;
	opacity: 0.5;
}

.authorItem ul {
	display: none;
}


#resumeList {
	min-width: 400px;
	width: auto;
	overflow-x: scroll;
	white-space: nowrap;
}
.resumeListBook {
	display: inline-block;
	min-width: 190px;
	min-height: 290px;
	border: 1px solid #fff;
	text-align: center;
}
.resumeListBookTitle {
	padding: 2px;
}
#bookAudio {
	width: 95%;
}
.bookThumbnail {
	width: 300px;
	margin-left: auto;
	margin-right:auto;
}
.bookThumbnail img {
	position: realtive;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.bookThumbnail #playOverlay {
	z-index: 3;
	width: 200px;
	margin-top: -300px;
	margin-left: 50px;
}
